/** Variants */

.pCenter,
.pLeft,
.pCardDetails,
.pFooter {
	width: 100%;
	word-spacing: 1px;
}

.pCenter {
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: -0.5px;
	text-align: center;
}

.pLeft {
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: -0.5px;
	text-align: left;
}

.pCardDetailsIcon {
	width: auto;
	font-size: 11px;
	line-height: 1.5;
}

.pCardDetailsPrice {
	width: auto;
	font-size: 14px;
	line-height: 1.5;
}

.pCardComment {
	line-height: 1.5;
}

.pAccordionQuestion {
	line-height: 1.5;

	@media (min-width: 375px) {
		& {
			width: 295px;
		}
	}

	@media (min-width: 425px) {
		& {
			width: 100%;
		}
	}
}

.pAccordionAnswer {
	line-height: 1.5;
}

.pFooter {
	width: auto;
	font-size: 14px;
	line-height: 1.5;
}

/** Fonts */

.Lato {
	font-family: var(--font-lato-regular);
}

.LatoItalic {
	font-size: inherit;
	color: inherit;
	text-decoration: underline;
	font-family: var(--font-lato-regular-italic);
}

.Arvo {
	font-family: var(--font-arvo-bold);
}

/** Text Color */

.primary975 {
	color: var(--primary-975);
}

.primary200 {
	color: var(--primary-200);
}

.primary50 {
	color: var(--primary-50);
}

.secondary200 {
	color: var(--secondary-200);
}
