.flexCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flexJustifyBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.titleContainer {
	width: 100%;
	height: 100%;
	margin: 32px 0 12px 0;
}

.buttonContainer {
	width: 100%;
	gap: 16px;
	margin: 24px 0 32px 0;
}
