.flexColumn {
	flex-direction: column;
}

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexJustifyBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.titleContainer {
	width: 100%;
	height: 100%;
	margin: 32px 0 20px 0;

	@media (min-width: 1120px) {
		& {
			margin: 32px 0 24px 0;
		}
	}
}

.subtitleContainer {
	width: 100%;
	height: 100%;
	margin: 36px 0;
}

.textContainer {
	margin-bottom: 32px;

	@media (min-width: 1085px) {
		& {
			margin-bottom: 64px;
		}
	}
}

.detailsCardsContainer {
	gap: 48px;

	@media (min-width: 1125px) {
		& {
			align-items: flex-start;
			flex-direction: row;
			margin-bottom: 40px;
		}
	}
}

.carouselContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	margin-bottom: 32px;

	@media (min-width: 1125px) {
		& {
			flex-direction: row;
			margin-top: 32px;
			gap: 48px;
		}
	}
}

.carouselItemContainer {
	gap: 24px;
}
