/** Variants */

.h1,
.h2,
.h3,
.h4,
.h5 {
	letter-spacing: -0.5px;
	text-align: center;
}

.h1,
.h2,
.h3 {
	line-height: 1.2;
}

.h4,
.h5 {
	line-height: 1.4;
}

.h1 {
	width: 70%;
	font-size: 40px;

	@media (min-width: 1120px) {
		& {
			font-size: 56px;
		}
	}
}

.h2 {
	font-size: 36px;

	@media (min-width: 1120px) {
		& {
			font-size: 48px;
		}
	}
}

.h3 {
	font-size: 32px;
}

.h4 {
	font-size: 24px;

	@media (min-width: 1120px) {
		& {
			font-size: 32px;
		}
	}
}

.h5 {
	font-size: 20px;

	@media (min-width: 1120px) {
		& {
			font-size: 24px;
		}
	}
}

.tAboutTitle {
	width: 100%;
	white-space: nowrap;
	text-overflow: clip;
}

.tAboutSubtitle {
	width: 100%;
	text-align: left;

	@media (min-width: 1120px) {
		& {
			font-size: 48px;
		}
	}
}

.tCardContentTitle {
	text-align: left;
}

/** Fonts */

.Arvo {
	font-family: var(--font-arvo-bold);
}

.Lato {
	font-family: var(--font-lato-bold);
}

/** Colors */

.primary975 {
	color: var(--primary-975);
}

.primary200 {
	color: var(--primary-200);
}
